{% extends 'base.html' %}

{% block title %}Página de Inicio - Smart Excel{% endblock title %}

{% block content %}
    <h1>Bienvenido a Smart Excel</h1>
    <p class="text-center">Smart Excel: Empoderando a los Negocios Nicaragüenses
        Smart Excel es una iniciativa estratégica diseñada para fortalecer las capacidades operativas y administrativas de las Micro, Pequeñas y Medianas Empresas (MIPYMES) en Nicaragua. Al proporcionar herramientas simplificadas y accesibles para el control de costos, este proyecto aborda directamente los desafíos de la baja rentabilidad y el crecimiento limitado que afectan a sectores clave como la agroindustria, el textil, el comercio y la manufactura. El núcleo de nuestra propuesta es un modelo práctico que permite a los empresarios identificar, clasificar y reducir gastos innecesarios, transformando la gestión financiera en una ventaja competitiva. A través de plantillas automatizadas y capacitación modular, empoderamos a los dueños de negocios para que tomen decisiones informadas y estratégicas que fomenten un crecimiento sostenible.
    </p>
    <p class="text-center mt-2">Nuestro enfoque innovador se centra en la adaptación a las realidades específicas de las MIPYMES nicaragüenses. A diferencia de los sistemas tradicionales, complejos y costosos, Smart Excel utiliza software de bajo costo o de acceso libre y metodologías visuales para identificar los puntos críticos de pérdida de rentabilidad. Fomentamos una cultura de mejora continua y aprendizaje colaborativo mediante la creación de comunidades donde los empresarios pueden compartir mejores prácticas y experiencias. Esta iniciativa, alineada con los objetivos del MIFIC, no solo mejora la gestión interna de costos, sino que también aumenta la competitividad, abriendo nuevas oportunidades de mercado y promoviendo la formalización y el éxito a largo plazo de las empresas a las que servimos.</p>

    <div class="text-center mb-4">
        <a href="{% url 'plantillasexel' %}" type="button" class="btn btn-theme-green mt-2">Ver plantillas</a>
    </div>

{% endblock %}
